rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /slips/{allPaths=**} {
      allow read: if true;
      allow write: if false; // uploads ผ่าน Admin SDK เท่านั้น
    }
  }
}
